@keyframes grow {
  50% {
    font-size: 1.9rem;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
  background: linear-gradient(#E27D5F, #E8A87C);
}
.container header .mobile-nav {
  display: none;
}
@media (max-width: 500px) {
  .container header .mobile-nav {
    display: inline-block;
    width: 100%;
    background-color: white;
    height: 50px;
    position: relative;
  }
}
.container header .mobile-nav .dropbtn {
  display: none;
}
@media (max-width: 500px) {
  .container header .mobile-nav .dropbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85CDCA;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    color: white;
    margin: 5px;
  }
  .container header .mobile-nav .dropbtn:hover {
    cursor: pointer;
  }
}
.container header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 500px) {
  .container header nav {
    justify-content: center;
    display: none;
    flex-direction: column;
    position: relative;
    background-color: #4EB4A3;
    min-width: 160px;
    max-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}
.container header nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .container header nav a {
    font-size: 2rem;
    width: 80%;
    text-align: center;
  }
  .container header nav a:hover {
    color: #4EB4A3;
    background-color: white;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem 1rem 0rem;
  width: 100%;
  height: 35vh;
  background-image: linear-gradient(176deg, white 28%, #7ec3b0 calc(28% + 2px));
  text-align: center;
  font-size: 3rem;
}
.footer footer {
  display: flex;
  align-items: flex-end;
  width: 98%;
  margin: 0rem 1% 0rem 1%;
  height: 90%;
  color: white;
}
.footer footer .logo-footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
}
.footer footer .logo-footer h2 {
  border-bottom: 0.05rem solid #E8A87C;
  margin: 0rem 0rem 1rem 0rem;
  color: #E8A87C;
  text-shadow: 2px 1px #205951;
}
.footer footer .logo-footer p {
  text-decoration: none;
  color: white;
  transition: background 0.2s ease-in;
}
.footer footer .logo-footer p:last-child {
  margin: 0rem 0rem 1rem 0rem;
}
.footer footer .logo-footer p:hover {
  background-color: #71bca4;
  color: #0b1713;
  -moz-box-shadow: 3px 3px 0px #387662;
  -webkit-box-shadow: 3px 3px 0px #387662;
  box-shadow: 3px 3px 0px #387662;
}
.footer footer .middle-footer {
  display: flex;
  flex: 3;
  line-height: 1.25;
}
.footer footer .middle-footer .left-middle-footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  border-top: 1px solid white;
  border-left: 1px solid white;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
}
.footer footer .middle-footer .left-middle-footer h4 {
  border-bottom: 0.05rem solid white;
  color: #E8A87C;
  text-shadow: 2px 1px #205951;
}
.footer footer .middle-footer .left-middle-footer a {
  text-decoration: none;
  color: white;
  transition: background 0.2s ease-in;
}
.footer footer .middle-footer .left-middle-footer a:hover {
  background-color: #71bca4;
  color: #0b1713;
  -moz-box-shadow: 3px 3px 0px #387662;
  -webkit-box-shadow: 3px 3px 0px #387662;
  box-shadow: 3px 3px 0px #387662;
}
.footer footer .middle-footer .middle-middle-footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.footer footer .middle-footer .middle-middle-footer h4 {
  border-bottom: 0.05rem solid white;
  color: #E8A87C;
  text-shadow: 2px 1px #205951;
}
.footer footer .middle-footer .middle-middle-footer a {
  text-decoration: none;
  color: white;
  transition: background 0.2s ease-in;
}
.footer footer .middle-footer .middle-middle-footer a:hover {
  background-color: #71bca4;
  color: #0b1713;
  -moz-box-shadow: 3px 3px 0px #387662;
  -webkit-box-shadow: 3px 3px 0px #387662;
  box-shadow: 3px 3px 0px #387662;
}
.footer footer .middle-footer .right-middle-footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  border-top: 1px solid white;
  border-right: 1px solid white;
}
.footer footer .middle-footer .right-middle-footer h4 {
  border-bottom: 0.05rem solid white;
  color: #E8A87C;
  text-shadow: 2px 1px #205951;
}
.footer footer .middle-footer .right-middle-footer a {
  text-decoration: none;
  color: white;
  transition: background 0.2s ease-in;
}
.footer footer .middle-footer .right-middle-footer a:hover {
  background-color: #71bca4;
  color: #0b1713;
  -moz-box-shadow: 3px 3px 0px #387662;
  -webkit-box-shadow: 3px 3px 0px #387662;
  box-shadow: 3px 3px 0px #387662;
}
.footer footer .update-footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.footer footer .update-footer h4 {
  border-bottom: 0.05rem solid white;
  margin: 0rem 0rem 0.5rem 0rem;
  color: #E8A87C;
  text-shadow: 2px 1px #205951;
}
.footer footer .update-footer button {
  margin: 1rem 0rem 1rem 0rem;
  width: 65%;
  height: 3vh;
  border-radius: 1rem;
  background: white;
  color: #2c5e4e;
  transition: background 0.2s ease-in;
}
.footer footer .update-footer button:hover {
  background-color: #2c5e4e;
  color: white;
  text-shadow: 1px 1px 2px #000000;
}
.footer p {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 10%;
  margin: 1rem 0rem 1rem 0rem;
}
.container {
  font-family: 'Hind', sans-serif;
}
.container header .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container header .heading h1 {
  font-size: 5.4rem;
  margin-top: 150px;
  color: #85CDCA;
  text-shadow: black 1px 0 10px;
  text-align: center;
}
.container header .heading h4 {
  font-size: 2rem;
  margin-top: 40px;
  color: #85CDCA;
  text-align: center;
  line-height: 2.4rem;
  text-shadow: black 1px 0 5px;
}
@media (max-width: 500px) {
  .container header .heading h4 {
    padding: 0 30px;
  }
}
.container header .heading .top-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
  width: 40%;
}
@media (max-width: 500px) {
  .container header .heading .top-btn {
    flex-direction: column;
    height: 240px;
    width: 90%;
  }
}
.container header .heading .top-btn button {
  padding: 10px 50px;
  margin: 10px 10px 80px 10px;
  border-radius: 6px;
  background-color: #C38D9D;
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Hind', sans-serif;
  margin: 0;
}
@media (max-width: 800px) {
  .container header .heading .top-btn button {
    font-size: 1.6rem;
    padding: 15px 55px;
    border-radius: 8px;
  }
}
@media (max-width: 500px) {
  .container header .heading .top-btn button {
    font-size: 1.8rem;
    padding: 20px 60px;
    border-radius: 10px;
    width: 100%;
  }
}
.container header .heading .top-btn button:hover {
  animation-name: grow;
  animation-duration: 3s;
}
@media (max-width: 500px) {
  .container header .heading .top-btn button:hover {
    animation-name: none;
    color: #C38D9D;
    background-color: white;
    border: 2px solid #C38D9D;
  }
}
.container main {
  width: 80%;
  background-color: white;
  font-size: 1.8rem;
  margin: 0 auto;
  padding: 0 40px;
  border-radius: 6px;
}
.container main .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.container main .intro h2 {
  font-size: 3rem;
  margin-top: 70px;
  padding-bottom: 50px;
  border-bottom: 2px solid #85CDCA;
  line-height: 3.5rem;
}
.container main .intro p {
  padding: 40px 0;
  margin: 10px 0;
  font-size: 1.9rem;
  line-height: 2.4rem;
}
.container main .intro img {
  width: 100%;
  height: auto;
}
@media (max-width: 500px) {
  .container main .intro img {
    width: 100%;
  }
}
.container main .features {
  display: flex;
  flex-flow: column wrap;
  height: 580px;
  align-items: center;
  margin-top: 50px;
}
@media (max-width: 800px) {
  .container main .features {
    width: 800px;
  }
}
@media (max-width: 500px) {
  .container main .features {
    flex-flow: column;
    height: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.container main .features .f1,
.container main .features .f2,
.container main .features .f3,
.container main .features .f4 {
  width: 50%;
  height: 250px;
  text-align: center;
}
@media (max-width: 500px) {
  .container main .features .f1,
  .container main .features .f2,
  .container main .features .f3,
  .container main .features .f4 {
    width: 90%;
    height: auto;
    margin: 10px;
    padding-bottom: 40px;
    border-bottom: 2px solid #85CDCA;
  }
}
.container main .features .f1 h3,
.container main .features .f2 h3,
.container main .features .f3 h3,
.container main .features .f4 h3 {
  font-size: 2.6rem;
  padding-top: 40px;
}
@media (max-width: 500px) {
  .container main .features .f1 h3,
  .container main .features .f2 h3,
  .container main .features .f3 h3,
  .container main .features .f4 h3 {
    padding-bottom: 20px;
  }
}
.container main .features .f1 p,
.container main .features .f2 p,
.container main .features .f3 p,
.container main .features .f4 p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: 50px 20px;
}
@media (max-width: 500px) {
  .container main .features .f1 p,
  .container main .features .f2 p,
  .container main .features .f3 p,
  .container main .features .f4 p {
    margin: 0;
    padding: 0;
  }
}
.container main .features .f1,
.container main .features .f2 {
  border-right: 2px solid #85CDCA;
}
@media (max-width: 500px) {
  .container main .features .f1,
  .container main .features .f2 {
    border-right: none;
  }
}
.container main .features .f1,
.container main .features .f3 {
  border-bottom: 2px solid #85CDCA;
}
.container main .features .f4 {
  margin-bottom: 30px;
}
.container main .links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
@media (max-width: 500px) {
  .container main .links {
    flex-direction: column;
    align-items: center;
  }
}
.container main .links .info-box {
  text-align: center;
  width: 50%;
}
@media (max-width: 500px) {
  .container main .links .info-box {
    width: 100%;
  }
}
.container main .links .info-box img {
  width: 95%;
  height: 350px;
  border-radius: 6px;
  margin-bottom: 30px;
  object-fit: cover;
}
.container main .links .info-box div {
  height: 150px;
}
.container main .links .info-box div h3 {
  font-size: 2.6rem;
  margin-bottom: 15px;
}
.container main .links .info-box div p {
  font-size: 1.8rem;
  margin-bottom: 20px;
  padding: 0 40px;
  line-height: 2.4rem;
}
.container main .links .info-box .btn-wrapper {
  height: 120px;
}
.container main .links .info-box .btn-wrapper button {
  padding: 10px 50px;
  margin: 10px 10px 80px 10px;
  border-radius: 6px;
  background-color: #C38D9D;
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Hind', sans-serif;
}
@media (max-width: 800px) {
  .container main .links .info-box .btn-wrapper button {
    font-size: 1.6rem;
    padding: 15px 55px;
    border-radius: 8px;
  }
}
@media (max-width: 500px) {
  .container main .links .info-box .btn-wrapper button {
    font-size: 1.8rem;
    padding: 20px 60px;
    border-radius: 10px;
    width: 100%;
  }
}
.container main .links .info-box .btn-wrapper button:hover {
  animation-name: grow;
  animation-duration: 3s;
}
@media (max-width: 500px) {
  .container main .links .info-box .btn-wrapper button:hover {
    animation-name: none;
    color: #C38D9D;
    background-color: white;
    border: 2px solid #C38D9D;
  }
}
.container .bottom-block footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .bottom-block footer h3 {
  font-size: 2.6rem;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #4EB4A3;
  text-shadow: black 1px 0 5px;
}
.container .bottom-block footer p {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #4EB4A3;
  text-shadow: black 1px 0 5px;
}
.container .bottom-block footer button {
  padding: 10px 50px;
  margin: 10px 10px 80px 10px;
  border-radius: 6px;
  background-color: #C38D9D;
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Hind', sans-serif;
}
@media (max-width: 800px) {
  .container .bottom-block footer button {
    font-size: 1.6rem;
    padding: 15px 55px;
    border-radius: 8px;
  }
}
@media (max-width: 500px) {
  .container .bottom-block footer button {
    font-size: 1.8rem;
    padding: 20px 60px;
    border-radius: 10px;
    width: 100%;
  }
}
.container .bottom-block footer button:hover {
  animation-name: grow;
  animation-duration: 3s;
}
@media (max-width: 500px) {
  .container .bottom-block footer button:hover {
    animation-name: none;
    color: #C38D9D;
    background-color: white;
    border: 2px solid #C38D9D;
  }
}
@media (max-width: 500px) {
  .container .bottom-block footer button {
    width: 80%;
  }
}
.companybody {
  width: 100%;
  height: 125vh;
  margin: 1rem 0rem 0rem 0rem;
  background: #7ec3b0;
  background-image: linear-gradient(135deg, white 0%, white 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(-135deg, white 0%, white 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), /* Bottom jagged */ linear-gradient(45deg, #E8A87C 0%, #E8A87C 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(-45deg, #E8A87C 0%, #E8A87C 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), /* Top and bottom fade  */ linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  background-position: top center, top center, /* Bottom jagged */ bottom center, bottom center, /* Top fade */ top center, /* Bottom fade */ bottom center;
  background-size: 2.5rem 2.5rem, 2.5rem 2.5rem, 2.5rem 2.5rem, 2.5rem 2.5rem, /* Top + bottom fade */ 100% 1rem, 100% 1rem;
  background-repeat: repeat-x;
  display: flex;
  flex-direction: column;
}
.companybody .ourstory {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  color: white;
  width: 75%;
  margin: 4rem 12.5% 0rem 12.5%;
  text-align: center;
}
.companybody .ourstory h1 {
  margin: 0rem 0rem 1rem 0rem;
}
.companybody .ourstory h3 {
  margin: 0rem 0rem 1rem 0rem;
}
.companybody .ourstory p {
  line-height: 1.1;
  margin: 0rem 0rem 0.5rem 0rem;
}
.companybody .community {
  display: flex;
  flex-direction: column;
  flex: 7;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
  width: 75%;
  margin: 0rem 12.5% 0rem 12.5%;
}
.companybody .community h1 {
  margin: 0rem 0rem 1rem 0rem;
}
.companybody .community .upper-community-numbers {
  display: flex;
  margin: 2rem 0rem 0rem 0rem;
  align-items: center;
}
.companybody .community .upper-community-numbers .upper-left-community {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}
.companybody .community .upper-community-numbers .upper-middle-community {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding-bottom: 1rem;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.companybody .community .upper-community-numbers .upper-right-community {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}
.companybody .community .lower-community-numbers {
  display: flex;
}
.companybody .community .lower-community-numbers .lower-left-community {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding-top: 1rem;
}
.companybody .community .lower-community-numbers .lower-middle-community {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding-top: 1rem;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.companybody .community .lower-community-numbers .lower-right-community {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding-top: 1rem;
}
.hiringbody {
  width: 100%;
  height: 15vh;
  background-image: linear-gradient(-176deg, #E8A87C 55%, white calc(55% + 2px));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 3rem;
  color: white;
}
.hiringbody h1 {
  margin: 0rem 1rem 0rem 0rem;
}
.hiringbody a {
  text-decoration: none;
  color: white;
  margin: 1rem 1rem 0rem 0rem;
}
.contentbody {
  margin: 0rem 0rem 0rem 0rem;
  width: 100%;
  display: flex;
  border-radius: 1rem;
}
.contentbody .contentbody_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 7;
  border-radius: 1rem;
  background-color: white;
}
.contentbody .contentbody_container .contentbody_child1,
.contentbody .contentbody_container .contentbody_child2,
.contentbody .contentbody_container .contentbody_child3,
.contentbody .contentbody_container .contentbody_child4 {
  width: 100%;
  height: 7vh;
  margin: 1rem 0.5rem 1rem 0.5rem;
  -moz-box-shadow: 3px 3px 0px #387662;
  -webkit-box-shadow: 3px 3px 0px #387662;
  box-shadow: 3px 3px 0px #387662;
}
.contentbody .contentbody_container .contentbody_child1 {
  background: repeating-linear-gradient(45deg, #E27D60, #E27D60 10px, #E8A87C 10px, #E8A87C 20px);
}
.contentbody .contentbody_container .contentbody_child2 {
  background: repeating-linear-gradient(90deg, #E27D60, #E27D60 10px, #E8A87C 10px, #E8A87C 20px);
}
.contentbody .contentbody_container .contentbody_child3 {
  background: repeating-linear-gradient(-45deg, #E27D60, #E27D60 10px, #E8A87C 10px, #E8A87C 20px);
}
.contentbody .contentbody_container .contentbody_child4 {
  background: repeating-linear-gradient(0deg, #E27D60, #E27D60 10px, #E8A87C 10px, #E8A87C 20px);
}
.contentbody .contentbody_container .about_profile_1,
.contentbody .contentbody_container .about_profile_2,
.contentbody .contentbody_container .about_profile_3,
.contentbody .contentbody_container .about_profile_4,
.contentbody .contentbody_container .about_profile_5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  border: 1px solid #387662;
  margin: 1rem 1% 0rem 1%;
  height: 50vh;
  background: white;
  border-radius: 1rem;
  background: #71bca4;
  -moz-box-shadow: 3px 3px 0px #387662;
  -webkit-box-shadow: 3px 3px 0px #387662;
  box-shadow: 3px 3px 0px #387662;
  text-align: center;
}
.contentbody .contentbody_container .about_profile_1 img,
.contentbody .contentbody_container .about_profile_2 img,
.contentbody .contentbody_container .about_profile_3 img,
.contentbody .contentbody_container .about_profile_4 img,
.contentbody .contentbody_container .about_profile_5 img {
  width: 65%;
  border-radius: 50%;
  -moz-box-shadow: 3px -3px 0px #387662;
  -webkit-box-shadow: 3px -3px 0px #387662;
  box-shadow: 3px -3px 0px #387662;
  margin: 1rem 0rem 0rem 0rem;
  height: 75%;
}
.contentbody .contentbody_container .about_profile_1 h1,
.contentbody .contentbody_container .about_profile_2 h1,
.contentbody .contentbody_container .about_profile_3 h1,
.contentbody .contentbody_container .about_profile_4 h1,
.contentbody .contentbody_container .about_profile_5 h1 {
  margin: 1rem 0rem 1rem 0rem;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.contentbody .contentbody_container .about_profile_1 h1 span,
.contentbody .contentbody_container .about_profile_2 h1 span,
.contentbody .contentbody_container .about_profile_3 h1 span,
.contentbody .contentbody_container .about_profile_4 h1 span,
.contentbody .contentbody_container .about_profile_5 h1 span {
  color: #e27d60;
}
.contentbody .contentbody_container .about_profile_1 .flex,
.contentbody .contentbody_container .about_profile_2 .flex,
.contentbody .contentbody_container .about_profile_3 .flex,
.contentbody .contentbody_container .about_profile_4 .flex,
.contentbody .contentbody_container .about_profile_5 .flex {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
