/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
  background-color: #C38D9D;
}
.container header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container header nav a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 1.6rem;
}
.container header .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container header .heading h1 {
  font-size: 4.8rem;
  margin-top: 100px;
}
.container header .heading h4 {
  font-size: 1.8rem;
  margin: 20px 0;
}
.container header .heading .top-btn {
  display: flex;
}
.container header .heading .top-btn button {
  padding: 10px 50px;
  margin: 10px 10px 80px 10px;
  border-radius: 6px;
  background-color: white;
  font-size: 1.2rem;
}
.container main {
  width: 80%;
  background-color: white;
  font-size: 1.8rem;
  margin: 0 auto;
  border-radius: 6px;
}
.container main .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.container main .intro h2 {
  font-size: 3rem;
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom: 2px solid #85CDCA;
}
.container main .intro p {
  padding: 20px 0;
}
.container main .intro img {
  width: 100%;
  height: auto;
}
.container main .features {
  display: flex;
  flex-flow: column wrap;
  height: 450px;
}
.container main .features .f1,
.container main .features .f2,
.container main .features .f3,
.container main .features .f4 {
  width: 50%;
  height: 200px;
  text-align: center;
}
.container main .features .f1 h3,
.container main .features .f2 h3,
.container main .features .f3 h3,
.container main .features .f4 h3 {
  font-size: 2.4rem;
  padding: 40px 0;
}
.container main .features .f1 p,
.container main .features .f2 p,
.container main .features .f3 p,
.container main .features .f4 p {
  font-size: 1.6rem;
}
.container main .links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container main .links .vision {
  text-align: center;
  width: 50%;
}
.container main .links .vision img {
  width: 95%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 30px;
}
.container main .links .meet-the-team {
  text-align: center;
  width: 50%;
}
.container main .links .meet-the-team img {
  width: 95%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 30px;
}
