@keyframes grow {
  50% {
    font-size: 1.9rem;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
  background: linear-gradient(#E27D5F, #E8A87C);
}
.container header .mobile-nav {
  display: none;
}
@media (max-width: 500px) {
  .container header .mobile-nav {
    display: block;
    width: 100%;
    background-color: white;
    height: 50px;
    position: fixed;
  }
}
.container header .mobile-nav .dropbtn {
  display: none;
}
@media (max-width: 500px) {
  .container header .mobile-nav .dropbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85CDCA;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    color: white;
    margin: 5px;
  }
  .container header .mobile-nav .dropbtn:hover {
    cursor: pointer;
  }
}
.container header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 500px) {
  .container header nav {
    justify-content: space-around;
    display: none;
    position: absolute;
    background-color: #4EB4A3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}
.container header nav a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .container header nav a {
    font-size: 2rem;
  }
}
.container {
  font-family: 'Hind', sans-serif;
}
.container header .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container header .heading h1 {
  font-size: 5.4rem;
  margin-top: 150px;
  color: #85CDCA;
  text-shadow: #4EB4A3 1px 0 10px;
  text-align: center;
}
.container header .heading h4 {
  font-size: 2rem;
  margin-top: 40px;
  color: #85CDCA;
  text-align: center;
  line-height: 2.4rem;
}
@media (max-width: 500px) {
  .container header .heading h4 {
    padding: 0 30px;
  }
}
.container header .heading .top-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
  width: 40%;
}
@media (max-width: 500px) {
  .container header .heading .top-btn {
    flex-direction: column;
    height: 240px;
    width: 90%;
  }
}
.container header .heading .top-btn button {
  padding: 10px 50px;
  margin: 10px 10px 80px 10px;
  border-radius: 6px;
  background-color: #C38D9D;
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Hind', sans-serif;
  margin: 0;
}
@media (max-width: 800px) {
  .container header .heading .top-btn button {
    font-size: 1.6rem;
    padding: 15px 55px;
    border-radius: 8px;
  }
}
@media (max-width: 500px) {
  .container header .heading .top-btn button {
    font-size: 1.8rem;
    padding: 20px 60px;
    border-radius: 10px;
    width: 100%;
  }
}
.container header .heading .top-btn button:hover {
  animation-name: grow;
  animation-duration: 3s;
}
@media (max-width: 500px) {
  .container header .heading .top-btn button:hover {
    animation-name: none;
    color: #C38D9D;
    background-color: white;
    border: 2px solid #C38D9D;
  }
}
.container main {
  width: 80%;
  background-color: white;
  font-size: 1.8rem;
  margin: 0 auto;
  padding: 0 40px;
  border-radius: 6px;
}
.container main .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.container main .intro h2 {
  font-size: 3rem;
  margin-top: 70px;
  padding-bottom: 50px;
  border-bottom: 2px solid #85CDCA;
  line-height: 3.5rem;
}
.container main .intro p {
  padding: 40px 0;
  margin: 10px 0;
  font-size: 1.9rem;
  line-height: 2.4rem;
}
.container main .intro img {
  width: 100%;
  height: auto;
}
@media (max-width: 500px) {
  .container main .intro img {
    width: 100%;
  }
}
.container main .features {
  display: flex;
  flex-flow: column wrap;
  height: 450px;
}
@media (max-width: 500px) {
  .container main .features {
    flex-flow: column;
    height: auto;
    align-items: center;
    justify-content: center;
  }
}
.container main .features .f1,
.container main .features .f2,
.container main .features .f3,
.container main .features .f4 {
  width: 50%;
  height: 200px;
  text-align: center;
}
.container main .features .f1 h3,
.container main .features .f2 h3,
.container main .features .f3 h3,
.container main .features .f4 h3 {
  font-size: 2.6rem;
  padding: 40px 0;
}
.container main .features .f1 p,
.container main .features .f2 p,
.container main .features .f3 p,
.container main .features .f4 p {
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.container main .features .f4 {
  margin-bottom: 30px;
}
.container main .links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
@media (max-width: 500px) {
  .container main .links {
    flex-direction: column;
    align-items: center;
  }
}
.container main .links .info-box {
  text-align: center;
  width: 50%;
}
@media (max-width: 500px) {
  .container main .links .info-box {
    width: 100%;
  }
}
.container main .links .info-box img {
  width: 95%;
  height: 350px;
  border-radius: 6px;
  margin-bottom: 30px;
  object-fit: cover;
}
.container main .links .info-box div {
  height: 150px;
}
.container main .links .info-box div h3 {
  font-size: 2.6rem;
  margin-bottom: 15px;
}
.container main .links .info-box div p {
  font-size: 1.8rem;
  margin-bottom: 20px;
  padding: 0 40px;
  line-height: 2.4rem;
}
.container main .links .info-box .btn-wrapper {
  height: 120px;
}
.container main .links .info-box .btn-wrapper button {
  padding: 10px 50px;
  margin: 10px 10px 80px 10px;
  border-radius: 6px;
  background-color: #C38D9D;
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Hind', sans-serif;
}
@media (max-width: 800px) {
  .container main .links .info-box .btn-wrapper button {
    font-size: 1.6rem;
    padding: 15px 55px;
    border-radius: 8px;
  }
}
@media (max-width: 500px) {
  .container main .links .info-box .btn-wrapper button {
    font-size: 1.8rem;
    padding: 20px 60px;
    border-radius: 10px;
    width: 100%;
  }
}
.container main .links .info-box .btn-wrapper button:hover {
  animation-name: grow;
  animation-duration: 3s;
}
@media (max-width: 500px) {
  .container main .links .info-box .btn-wrapper button:hover {
    animation-name: none;
    color: #C38D9D;
    background-color: white;
    border: 2px solid #C38D9D;
  }
}
.container .bottom-block footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .bottom-block footer h3 {
  font-size: 2.6rem;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #4EB4A3;
  text-shadow: #85CDCA 1px 0 10px;
}
.container .bottom-block footer p {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #4EB4A3;
  text-shadow: #85CDCA 1px 0 10px;
}
.container .bottom-block footer button {
  padding: 10px 50px;
  margin: 10px 10px 80px 10px;
  border-radius: 6px;
  background-color: #C38D9D;
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Hind', sans-serif;
}
@media (max-width: 800px) {
  .container .bottom-block footer button {
    font-size: 1.6rem;
    padding: 15px 55px;
    border-radius: 8px;
  }
}
@media (max-width: 500px) {
  .container .bottom-block footer button {
    font-size: 1.8rem;
    padding: 20px 60px;
    border-radius: 10px;
    width: 100%;
  }
}
.container .bottom-block footer button:hover {
  animation-name: grow;
  animation-duration: 3s;
}
@media (max-width: 500px) {
  .container .bottom-block footer button:hover {
    animation-name: none;
    color: #C38D9D;
    background-color: white;
    border: 2px solid #C38D9D;
  }
}
@media (max-width: 500px) {
  .container .bottom-block footer button {
    width: 80%;
  }
}
