.hiringbody {
  width: 100%;
  height: 15vh;
  background-image: linear-gradient(-176deg, #E8A87C 55%, white calc(55% + 2px));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 3rem;
  color: white;
  h1 {
    margin: 0rem 1rem 0rem 0rem;
  }
  a {
    text-decoration: none;
    color: white;
    margin: 1rem 1rem 0rem 0rem;
  }
}
