.container {
    header {
        .heading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        h1 {
            font-size: 4.8rem;
            margin-top: 100px;
        }
        h4 {
            font-size: 1.8rem;
            margin: 20px 0;
        }
        .top-btn {
            display: flex;

            button {
                padding: 10px 50px;
                margin: 10px 10px 80px 10px;
                border-radius: 6px;
                background-color: white;
                font-size: 1.2rem;
            }
        }
        }
    }
   main {
        width: 80%;
        background-color: white;
        font-size: 1.8rem;
        margin: 0 auto;
        border-radius: 6px;

        .intro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;

            h2 {
                font-size: 3rem;
                margin-top: 50px;
                padding-bottom: 20px;
                border-bottom: 2px solid @middle-blue-green;
            }

            p {
                padding: 20px 0;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .features {
            display: flex;
            flex-flow: column wrap;
            height: 450px;

            .f1, .f2, .f3, .f4 {
                width: 50%;
                height: 200px;
                text-align: center;

                h3 {
                    font-size: 2.4rem;
                    padding: 40px 0;
                }

                p {
                    font-size: 1.6rem;
                }
            }
        }

        .links {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .vision {
                text-align: center;
                width: 50%;

                img {
                    width: 95%;
                    height: auto;
                    border-radius: 6px;
                    margin-bottom: 30px;
                }
            }

            .meet-the-team {
                text-align: center;
                width: 50%;

                img {
                    width: 95%;
                    height: auto;
                    border-radius: 6px;
                    margin-bottom: 30px;
                }
            }
        }
    } 
}
