

.flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-img() {
    width: 95%;
    height: 350px;
    border-radius: 6px;
    margin-bottom: 30px;
    object-fit: cover;
}

.btn() {
    padding: 10px 50px;
    margin: 10px 10px 80px 10px;
    border-radius: 6px;
    background-color: @puce;
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Hind', sans-serif;

    @media @tablet {
        font-size: 1.6rem;
        padding: 15px 55px;
        border-radius: 8px;
    }

    @media @mobile {
        font-size: 1.8rem;
        padding: 20px 60px;
        border-radius: 10px;
        width: 100%;
    }

    &:hover {
        animation-name: grow;
        animation-duration: 3s;

        @media @mobile {
            animation-name: none;
            color: @puce;
            background-color: white;
            border: 2px solid @puce;
        }
    }
}